{% load static %}
{% include 'base.html' %}
{% block content %}
<link rel="stylesheet" href="static/css/style.css">
<title>Online Library</title>
<body class="bg-info">
<!--Navbar Start-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; z-index: 1; width: 100%">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'library' %}">Online Library</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'library' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Books
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'content' %}">.Net</a></li>
            <li><a class="dropdown-item" href="{% url 'content' %}">C#</a></li>
              <li><a class="dropdown-item" href="{% url 'content' %}">Python</a></li>
              <li><a class="dropdown-item" href="{% url 'content' %}">AI & Robotics</a></li>
              <li><a class="dropdown-item" href="{% url 'content' %}">Python with SQL</a></li>
              <li><a class="dropdown-item" href="{% url 'content' %}">Web Designing</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--Navbar End-->

<!--Section Start-->
<div class="container text-center mx-auto">
    <div class="row p-5">
        {% for book in books %}
        <div class="col-md-6 col-lg-4 p-3">
            <div class="card" style="width: 15rem; height: 25rem">
                <img src="{% static 'images/' %}{{ book.image }}" class="card-img-top" style="height: 15rem" alt="{{ book.name }}">
                <div class="card-body">
                    <h5 class="card-title">Name: {{ book.name }}</h5>
                    <h5 class="card-title">Author: {{ book.author }}</h5>
                    <a href="{% url 'content' %}" class="btn btn-primary">Click to Read</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!--Section end-->
{% endblock %}
</body>